<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<header class="masthead">
				<div class="inner">
					<nav class="nav">
						<a href="/index.html#what">What</a>
						<a href="/index.html#who">Who</a>
						<a href="/index.html#press">Press</a>
						<a href="/index.html#help">Help us</a>
					</nav>
				</div>
			</header>
		</div>
		
		<div class="container">
			<h1>In the press</h1>
			<hr>
			<p class="lead press-lead">
                                <a href="http://www.lemonde.fr/pixels/article/2017/11/24/des-mouchards-caches-dans-vos-applications-pour-smartphones_5219892_4408996.html"><%= image_tag 'press/le_monde.png', class: 'img-icon featurette-image img-fluid mx-auto' %>Le Monde - Des mouchards cachés dans vos applications pour smartphones</a>
                        </p>
                        <p class="lead press-lead">
                                <a href="https://www.nextinpact.com/news/105655-rencontre-avec-exodus-privacy-qui-revele-trackers-applications-android.htm"><%= image_tag 'press/next_inpact.png', class: 'img-icon featurette-image img-fluid mx-auto' %>Next Inpact - Rencontre avec Exodus Privacy, qui révèle les trackers des applications Android</a>
                        </p>
                        <p class="lead press-lead">
                                <a href="https://theintercept.com/2017/11/24/staggering-variety-of-clandestine-trackers-found-in-popular-android-apps/"><%= image_tag 'press/the_intercept.png', class: 'img-icon featurette-image img-fluid mx-auto' %>The Intercept - Staggering Variety of Clandestine Trackers Found In Popular Android Apps</a><br/>
                        </p>
			<p class="lead press-lead">
				<a href="https://boingboing.net/2017/11/25/la-la-la-cant-hear-you.html"><%= image_tag 'press/boingboing.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>BoingBoing - Researchers craft Android app that reveals menagerie of hidden spyware; legally barred from doing the same with iOS</a>
			</p>
                        <p class="lead press-lead">
                                <a href="http://www.01net.com/actualites/android-de-plus-en-plus-de-mouchards-pullulent-dans-les-applis-1311345.html"><%= image_tag 'press/01net.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>01Net - Android : de plus en plus de mouchards pullulent dans les applis</a>
                        </p>
                        <p class="lead press-lead">
                                <a href="http://information.tv5monde.com/info/internet-les-apps-des-smartphones-nous-traquent-sans-relache-et-sans-autorisation-205697"><%= image_tag 'press/tv5monde.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>TV5Monde - Internet : les apps des smartphones nous traquent sans relâche et sans autorisation</a>
                        </p>
                        <p class="lead press-lead">
                                <a href="https://www.begeek.fr/applications-mobiles-gangrenees-mouchards-255959"><%= image_tag 'press/begeek.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>BeGeek - Des applications mobiles gangrénées par des mouchards</a>
                        </p>
		</div>
	</div>
</div>
