<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<header class="masthead">
				<div class="inner">
					<nav class="nav">
						<a href="/index.html#what">What</a>
						<a href="/index.html#who">Who</a>
						<a href="/index.html#press">Press</a>
						<a href="/index.html#help">Help us</a>
					</nav>
				</div>
			</header>
		</div>
		
		<div class="container">
			<h1>In the press</h1>
			<hr>
			<p class="lead press-lead">
                                <a href="http://www.lemonde.fr/pixels/article/2017/11/24/des-mouchards-caches-dans-vos-applications-pour-smartphones_5219892_4408996.html"><%= image_tag 'press/le_monde.png', class: 'img-icon featurette-image img-fluid mx-auto' %>Des mouchards cachés dans vos applications pour smartphones</a>
			</p>
			<p class="lead press-lead-justify">
			L'article définit ce qu'est un tracker et présente des chiffres sur leur présence dans les applications avant de présenter εxodus, les futures possibilités et l'appel à 
contribution. Il définit 3 grands types de trackers en fonction de leur impact et leur utilisation. Il évoque le cas des trackers "utiles" aux développeurs pour les mesures d'audiences et rapports de 
bugs. Le cas des trackers publicitaires majoritairement présents servant à faire du retargeting et ainsi "convertir" les mobinautes en acheteurs. Il évoque le cas des sociétés disposant des "box" de 
tracking dans les magasins afin de suivre la conversion des mobinautes. Les patrons de différentes entreprises de tracking précisent qu'à partir de mai 2018 (voir GPRD) les mobinautes devront fournir leur 
consentement (fenêtre qui s'affiche sur l'application). L'article précise que l'utilisateur qui croit partager ses données avec l'application les partages en réalité avec de nombreux trackers.
			</p>
			<p>—</p>
                        <p class="lead press-lead">
                                <a href="https://www.nextinpact.com/news/105655-rencontre-avec-exodus-privacy-qui-revele-trackers-applications-android.htm"><%= image_tag 'press/next_inpact.png', class: 'img-icon featurette-image img-fluid mx-auto' %>Rencontre avec Exodus Privacy, qui révèle les trackers des applications Android</a>
                        </p>
			<p class="lead press-lead-justify">
L'article de Next Inpact paru peu après 13h30 retrace l'historique d'Exodus Privacy au travers des interviews de Aeris et Esther. L'article détaille également le fonctionnement de la plateforme εxodus et 
évoque la difficulté d'analyse de certaines applications en raison des contraintes techniques (OS dans une VM, etc). Le futur d'εxodus est également évoqué à la fin de l'article avec la possibilité d'ajouter une 
méthode de classement, des tutoriels vidéos ainsi que la manière de financer le projet.
			</p>
			<p>—</p>
                        <p class="lead press-lead">
                                <a href="https://theintercept.com/2017/11/24/staggering-variety-of-clandestine-trackers-found-in-popular-android-apps/"><%= image_tag 'press/the_intercept.png', class: 'img-icon featurette-image img-fluid mx-auto' %>Staggering Variety of Clandestine Trackers Found In Popular Android Apps</a><br/>
			</p>
			<p class="lead press-lead-justify">
L'article paru à 12h. décrit la recherche par signature des trackers dans les applications ainsi qu'une interview de Sean O’Brien expliquant que la majorité des utilisateurs, s'ils sont au courant de la 
collecte des données par les appli même, ne le sont pas forcement concernant les trackers tiers embarqués dans ces dernières. Il explique que certains trackers non détectés par εxodus peuvent également se 
baser sur des données physiques comme le mouvement du téléphone. Il souligne également la difficulté de désactiver ces trackers (quand c'est possible).
L'explication sur les trackers prend celui de Google en exemple (l'un des plus présent) en expliquant à quel point les données collectées sont nombreuses, il appuit également le fait que certaines 
applications ne nécessitant a priori aucun tracker en possède malgré tout (lampe torche, etc).
Fidzup, l'un des trackers français, est également décrit comme étant le plus intrusif, capable de géolocaliser les utilisateurs par zones. Teemo est également cité.
Il est également expliqué que certains trackers sont plus intrusifs que d'autres, par exemple, CrashLytics permet d'envoyer des rapports d'erreurs concernant les applications quand d'autres trackers 
envoient, par exemple la géolocalisation de l'ordiphone. Enfin certains trackers utilisent du machine-learning afin de mieux cerner les habitudes des utilisateurs. L'article se conclu par une phrase de 
Sean O'Brien ajoutant que c'est aux développeurs de faire leurs choix et que les permissions ne sont pas une solution ("si vous avez à demander aux victimes du tracking combien de trackers elles acceptent 
c'est que vous êtes déjà aller trop loin. C'est déjà un problème" rapporte Sean O'Brien). Ce dernier propose également F-Droid comme alternative aux Play Store.
			</p>
			<p>—</p>
			<p class="lead press-lead">
				<a href="https://boingboing.net/2017/11/25/la-la-la-cant-hear-you.html"><%= image_tag 'press/boingboing.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>Researchers craft Android app that reveals menagerie of hidden spyware; legally barred from doing the same with iOS</a>
			</p>
                        <p class="lead press-lead-justify">
Cory Doctorow souligne que l'action d'εxodus ne pourrait pas être réalisable sur iOS en raison de l'interdiction d'effectuer ces analyses sur des systèmes protégés par des DRM.
                        </p>
                        <p>—</p>
                        <p class="lead press-lead">
                                <a href="http://www.01net.com/actualites/android-de-plus-en-plus-de-mouchards-pullulent-dans-les-applis-1311345.html"><%= image_tag 'press/01net.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>Android : de plus en plus de mouchards pullulent dans les applis</a>
                        </p>
                        <p class="lead press-lead-justify">
L'article explique rapidement les différentes découvertes de trackers en expliquant que iOS est sûrement tout autant infesté.
                        </p>
                        <p>—</p>
                        <p class="lead press-lead">
                                <a href="http://information.tv5monde.com/info/internet-les-apps-des-smartphones-nous-traquent-sans-relache-et-sans-autorisation-205697"><%= image_tag 'press/tv5monde.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>Internet : les apps des smartphones nous traquent sans relâche et sans autorisation</a>
                        </p>
                        <p class="lead press-lead-justify">
L'article commence par poser le contexte en expliquant les récentes découvertes sur la géolocalisation permanente des smartphones sous Android. Exodus Privacy est ensuite présenté et des définitions sont 
données concernant les termes techniques (ttrackers, permissions) en prenant l'exemple de l'application 20Minutes et Ikea.
                        </p>
                        <p>—</p>
                        <p class="lead press-lead">
                                <a href="https://www.begeek.fr/applications-mobiles-gangrenees-mouchards-255959"><%= image_tag 'press/begeek.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>Des applications mobiles gangrénées par des mouchards</a>
                        </p>
                        <p class="lead press-lead">
				<a href="https://www.independent.co.uk/life-style/gadgets-and-tech/news/uber-tinder-snapchat-spotify-tracking-you-google-play-store-privacy-permissions-privacy-lab-exodus-a8079786.html"><%=  image_tag 'press/the_independent.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>Uber, Tinder, Snapchat and other top apps include trackers that secretly watch everything users do</a>
			</p>
                        <p class="lead press-lead">
                                <a href="https://www.theguardian.com/technology/2017/nov/28/android-apps-third-party-tracker-google-privacy-security-yale-university"><%=  image_tag 'press/the_guardian.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>Three quarters of Android apps track users with third party tools – study</a>
                        </p>
                        <p class="lead press-lead">
                                <a href="https://www.wired.de/collection/life/beliebte-apps-spionieren-android-nutzer-aus"><%=  image_tag 'press/wired.png', class: 'img-icon featurette-image img-fluid mx-auto' =%>Beliebte Apps spionieren Android-Nutzer aus</a>
                        </p>
		</div>
	</div>
</div>
